body {
  background-image: url(https://wallpaperaccess.com/full/1260257.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
}

p {
  margin-bottom: 0;
}

.abc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

#out {
  margin: 0 auto;
}

.section-center {
  width: 70vw;
  margin: 0 auto;
  max-width: 1170px;
  display: none;
}

.homework-title {
  background-color: #e1f7e1;
  padding: 10px;
  margin: 1px;
  border: none;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
}

.show-text .homework-title {
  background-color: rgb(216, 231, 245);
  color: blue;
  border: none;
  outline: none;
}

.homework-title .angle-icon {
  transition: all 0.3s linear;
}

.show-text .homework-title .angle-icon {
  transform: rotate(-180deg);
}

/* hide text */

.homework-text {
  display: none;
  padding: 1rem 10px 1.5rem 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
}

.show-text .homework-text {
  display: block;
}
