p {
  margin-bottom: 0;
}

/* hide text */

.homework-title {
  background-color: #e1f7e1;
  padding: 10px;
  margin: 1px;
  border: none;
  /* border-top: 0.1px solid grey; */
}

.show-text .homework-title {
  background-color: rgb(216, 231, 245);
  color: blue;
  border: none;
  outline: none;
}

.homework-title .angle-icon {
  transition: all 0.3s linear;
}

.show-text .homework-title .angle-icon {
  transform: rotate(-180deg);
}

.homework-text {
  display: none;
}

.show-text .homework-text {
  display: block;
  transition: all 1s linear;
}

.section-center {
  width: 70vw;
  margin: 0 auto;
  max-width: 1170px;
}

.homework-title {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
}

.homework-text {
  padding: 1rem 10px 1.5rem 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.homework-btn {
  /* font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold); */
  transition: all 0.3s linear;
}
